@model GetSurveyViewModel

<div class="container w-50 mx-auto">
    <h1 class="mb-4">Edit the Survey</h1>
    <form asp-action="Edit" method="post">
        <div class="mb-3">
            <label asp-for="Id" class="form-label">ID</label>
            <input asp-for="Id" type="text" class="form-control" value="@Model.Id" disabled />
        </div>
        <div class="mb-3">
            <label asp-for="Title" class="form-label">Title</label>
            <input asp-for="Title" type="text" class="form-control" value="@Model.Title" />
        </div>
        <div class="mb-3">
            <label asp-for="Description" class="form-label">Description</label>
            <textarea asp-for="Description" class="form-control" rows="3">@Model.Description</textarea>
        </div>
        <div class="form-check mb-3">
            <input asp-for="AllowAnonymousResponses"
                   class="form-check-input" />

            <label asp-for="AllowAnonymousResponses"
                   class="form-check-label">
                Allow anonymous responses
            </label>
        </div>
        <input type="text" asp-for="CreatedAt" hidden />
        <input type="text" asp-for="IsPublished" hidden />
        <input type="text" asp-for="PublishedAt" hidden />
        <input type="text" asp-for="ClosedAt" hidden />
        <input type="text" asp-for="UserId" hidden />
        <div class="d-flex gap-2">
            <button type="submit" class="btn btn-primary w-50">Edit</button>
            <a href="@Url.Action("Dashboard")" class="btn btn-outline-danger w-50">Cancel</a>
        </div>
    </form>
</div>



